services:
  virtuoso:
    image: openlink/virtuoso-opensource-7
    ports:
      - "8890:8890"
      - "1111:1111"
    environment:
      - DBA_PASSWORD=mysecretpassword
    volumes:
      - ./group2_cskg.ttl:/database/to_load/
      - virtuoso_db:/database

volumes:
  virtuoso_db:
